
NODE_ENV=development
PORT=3001


CORS_ORIGINS=https://jopravic.com.ng,https://www.jopravic.com.ng,http://localhost:5173,http://localhost:8080,http://localhost:3000


ZEPTOMAIL_API_KEY=Zoho-enczapikey wSsVR60iqEShCKl6nTz4cec9nVlUUwnyHEl00VP0vXH0H6rG/cc9kRXGDA+iGfMaFzVqHWAV8L0tm0wJgTJditUvyVtSCCiF9mqRe1U4J3x17qnvhDzIXmVelxSMK4sAxQ5sk2djEcol+g==
ZEPTOMAIL_API_ENDPOINT=https://api.zeptomail.com/v1.1/email


FROM_EMAIL=info@jopravic.com.ng
FROM_NAME=JOPRAVIC CDI

REPLY_TO_EMAIL=jopraviccdi2011@gmail.com

ADMIN_EMAIL=info@jopravic.com.ng


RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
